<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/profile/ali">Profile</a></li>
    <li><a href="/login">Login</a></li>

</ul>
<link rel="stylesheet" href="../assets/style.css">
